-var slackomaticIp = '10.20.30.90';
-var screenInvaderIp = '10.20.30.40';

mixin inputItem(name, type, placeholder, value)
  li
    - placeholder = placeholder || name;
    label(for=name)= placeholder
    input(
      id=name
      name=name
      placeholder=placeholder
      type=type
      value=value
    )

section#options.page
  div.container
    h2 Settings

    div.options.ips
      h3 Ips:
      ul
        +inputItem('slackomatic', 'text', 'Slackomatic:')
        +inputItem('screeninvader', 'text', 'ScreenInvader:')

    div.options.theme
      h3 Theme:
      ul.themesettings
        li
          label(for='dark') dark
          input#dark(type='radio' name='theme' value='dark')
        li
          label(for='light') light
          input#light(type='radio' name='theme' value='light')

    div.submit
      input(type='submit' value='save options')
      div#saved saved options
